.chef img{
  width:200px;
}

h1,h2,h3 {
  font-family: 'Poppins', sans-serif;
  color: white;
}

body{
  margin-top: 50px;
  background: black;
  color: white;
}

.btn-primary{
  background: #000000;
  border: 0px;
  border-radius: 0px;
}

.btn-primary:hover{
  color: #000000;
  background: #F1E462;
}

.jumbotron{
  background: url('../images/DSC_1492.jpg');
  background-size: 100%;
  background-attachment: fixed;
  color: #FFF;
  padding-top:  200px;
  padding-bottom: 200px;
}


.chef{
text-align: center;
width: 15px;
height: auto;
}

.p {
  text-align: center;
}






.modal {
  color: #000000;
}

}
.test {
  width: 1024px;
  height: 768px;
}
